h1{
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	color: black;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 1px 1px gray;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: gray;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 0px 1px black;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: black;
	margin-bottom: 10px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: black;
}

p{
	font-family: Arial;
	line-height: 1.25;
	text-align: justify;
	margin-bottom: 10px;
}

#page-wrapper{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
}

#content-section{
	margin-top: 20px;
}

#footer-section{
	margin: 20px 0px;
}

#links-section .link-group .link-text a{
	padding: 15px;

}

#authors-section .author-group .author-img img{
	box-shadow: 1px 1px 2px 2px gray;
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

#authors-section .author-group .author-name span{
	padding: 10px 15px;
}

#partners-section .partner-group .partner-logo img{
	height: 100px;
}

#partners-section .partner-group .partner-name a{
	padding: 10px 30px;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}