<li style="clear: both;">
	<h3 style="border-bottom: 1px solid #666666; padding-bottom: 5px;">
		{{ if gt (len .Content) 0 }}
		<a href="{{.Permalink}}">{{.Title}}: {{ .Params.Subtitle}}</a>
		{{ else }}
			{{.Title}}
		{{ end }}
	</h3>
	{{ if gt (len .Content) 0 }}
		<div class="short-info">
			<p>
				<img src="/static/images/projects/{{ .Params.Title_image }}"
					style="width: 20%; float: left; margin-right: 10px; margin-bottom: 10px;">
				{{ .Summary }} 
				{{ if gt (len .Content) (len .Summary) }}
					...
				{{ end }}
				<a href="{{.Permalink}}">Read more</a>
			</p>
		</div>
	{{ else }}
		<div style="margin-bottom: 20px;"></div>
	{{ end }}
</li>