{{ define "main" }}
	<h1>{{ .Title }}: {{ .Params.Subtitle }}</h1>
	<p>
		<img src="/static/images/projects/{{ .Params.Title_image }}"
			style="width: 20%; float: left; margin-right: 10px; margin-bottom: 10px;">
		{{ .Content }}
	</p>

	<h2 style="margin-top: 20px;">Project Members</h2>
	<table>
		{{ range $index, $member := .Params.Project_members }}
			<tr>
				<td>
					<img src="/static/images/staff/{{ index $member 0}}" style="height: 100px;">
				</td>
				<td>
					{{ if index $member 2 }}
						<a href="/team/{{ index $member 2 }}">
							{{ index $member 1 }}
						</a>
					{{ else }}
						{{ index $member 1 }}
					{{ end }}
				</td>
			</tr>
		{{ end }}
	</table>

	<h2 style="margin-top: 20px;">Publications</h2>
	<ul>
		{{ range $index, $publication := .Params.Related_publications }}
			<li style="list-style-type: square;">
				{{ if index $publication 1 }}
					<a href="/publications/{{ index $publication 1}}">
						{{ index $publication 0 }}
					</a>
				{{ else }}
					{{ index $publication 0 }}
				{{ end }}
			</li>
		{{ end }}
	</ul>
{{ end }}