{{ define "main" }}
	<h1>{{.Title}}</h1>
	<p>
		{{.Content}}
	</p>

	<h3>Secretary</h3>
	<ul class="subpages-list">
		{{ range where .Data.Pages.ByWeight "Params.category" "=" "secretary" }}
			{{ .Render "li" }}
		{{ end }}
	</ul>

	<h3>Technical staff</h3>
	<ul class="subpages-list">
		{{ range where .Data.Pages.ByWeight "Params.category" "=" "technical_staff" }}
			{{ .Render "li" }}
		{{ end }}
	</ul>

	<h3>Scientific staff</h3>
	<ul class="subpages-list">
		{{ range where .Data.Pages.ByWeight "Params.category" "=" "scientific_staff" }}
			{{ .Render "li" }}
		{{ end }}
	</ul>
{{ end }}