<span style="float: right;">
	<button id="show-bibtex-btn" class="btn btn-primary"
			style="background-color: #0067A6; border-color: #0067A6; font-weight: bold;">
		<i class="fas fa-quote-right" style="margin-right: 10px;"></i>
		BibTex
	</button>
</span>

{{ if .Params.Bibtex }}
	<input id="bibtex-available" type="hidden" value=1>
{{ else }}
	<input id="bibtex-available" type="hidden" value=0>
	<input id="author-field" type="hidden" value='{{ delimit .Params.Authors ", " }}'>
	<input id="title-field" type="hidden" value="{{ .Title }}: {{ .Params.Subtitle }}">
	<input id="year-field" type="hidden" value="{{ .Params.Year }}">
{{ end }}

<div title="Cite" style="display: none;" id="bibtex-dialog">
	{{ .Params.Bibtex }}
</div>