<ul>
	{{ $currentPage := . }}

	{{ range .Site.Menus.mainmenu }}
		{{ if .HasChildren }}
			<li class="{{ if $currentPage.IsMenuCurrent "mainmenu" . }}active{{ end }}">
				<a href="{{ .URL }}">
					{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
			</li>
			<ul class="sub-menu">
				{{ range .Children }}
					<li class="{{ if $currentPage.IsMenuCurrent "mainmenu" . }}active{{ end }}">
					    <a href="{{ .URL }}">{{ .Name }}</a>
					</li>
				{{ end }}
			</ul>
		{{ else }}
			<li class="{{ if $currentPage.IsMenuCurrent "mainmenu" . }}active{{ end }}">
				<a href="{{ .URL }}">
					{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
			</li>
		{{ end }}
	{{ end }}
	<li style="border-top: 3px solid #cbe0ed;padding-top: 20px; border-bottom: none;"></li>
	{{ range .Site.Menus.externalmenu }}
		<li>
			<a href="{{ .URL }}">
				{{ .Pre }}
				<span>{{ .Name }}</span>
			</a>
		</li>
	{{ end }}

	
</ul>