<li>
	{{ if .Params.Author_details }}
		<div style="margin-bottom: -10px; font-size: 75%;">
			{{ range $index, $author := .Params.Author_details }}
				{{ if index $author 2 }}
					<a href="/team/{{ index $author 2 }}">{{ index $author 1 }}</a> |
				{{ else }}
					{{ index $author 1 }} |
				{{ end }}
			{{ end }}
		</div>
	{{ end }}
	<h3 style="border-bottom: 1px solid #666666; padding-bottom: 5px;">
		{{ if gt (len .Content) 0 }}
			<a href="{{.Permalink}}">
				{{.Title}}
				{{ if .Params.Subtitle }}: {{ .Params.Subtitle }} {{ end }}
			</a>
		{{ else }}
			{{.Title}}
			{{ if .Params.Subtitle }}: {{ .Params.Subtitle }} {{ end }}
		{{ end }}
		{{ if gt (len .Content) 0 }}
			<i style="color: #0067A6; float: right; cursor: pointer;"
				class="fas fa-plus toggle-summary-btn"></i>
		{{ end}}
	</h3>
	<b>
		<a class="bibtex-link" href="#" 
			data-bibtex-available='{{ if .Params.Bibtex }}1{{ else }}0{{ end }}'
			data-author-field='{{ delimit .Params.Authors ", " }}'
			data-title-field="{{ .Title }}: {{ .Params.Subtitle }}"
			data-year-field="{{ .Params.Year }}"
			data-booktitle-field="{{ .Params.Booktitle }}">
			[BibTex]
		</a>
	</b>
	{{ if gt (len .Content) 0 }}
		<div class="short-info toggle-summary" style="display: none;">
			<p>
				{{ .Summary }} 
				{{ if gt (len .Content) (len .Summary) }}
					...
				{{ end }}
			</p>
			<a href="{{.Permalink}}">Read more</a>
		</div>
	{{ else }}
		<div style="margin-bottom: 20px;"></div>
	{{ end }}
</li>