<li>
	{{ if .Params.Author_details }}
		<div style="margin-bottom: -10px; font-size: 75%;">
			{{ range $index, $author := .Params.Author_details }}
				{{ if index $author 2 }}
					<a href="/team/{{ index $author 2 }}">{{ index $author 1 }}</a> |
				{{ else }}
					{{ index $author 1 }} |
				{{ end }}
			{{ end }}
		</div>
	{{ end }}
	<h3 style="border-bottom: 1px solid #666666; padding-bottom: 5px;">
		{{ if gt (len .Content) 0 }}
			<a href="{{.Permalink}}">
				{{.Title}}
				{{ if .Params.Subtitle }}: {{ .Params.Subtitle }} {{ end }}
			</a>
		{{ else }}
			{{.Title}}
			{{ if .Params.Subtitle }}: {{ .Params.Subtitle }} {{ end }}
		{{ end }}
	</h3>
	{{ if .Params.Summary_details }}
		{{ if (index .Params.Summary_details 2) }}
			<a href="/static/publications/{{ index .Params.Summary_details 2 }}" download="{{ .Params.Title }}.pdf">
				[PDF-Download]
			</a>
		{{ end }}
	{{ end }}

	<b>
		{{ if .Params.Bibtex }}
			<a class="bibtex-link" href="#" 
				data-bibtex-available="1"
				data-bibtex-customized="{{ .Params.Bibtex }}"
				data-author-field='{{ delimit .Params.Authors ", " }}'
				data-title-field="{{ .Title }}: {{ .Params.Subtitle }}"
				data-year-field="{{ .Params.Year }}"
				data-booktitle-field="{{ .Params.Booktitle }}">
				[BibTex]
			</a>
		{{ else }}
			<a class="bibtex-link" href="#" 
			data-bibtex-available="0"
			data-author-field='{{ delimit .Params.Authors ", " }}'
			data-title-field="{{ .Title }}: {{ .Params.Subtitle }}"
			data-year-field="{{ .Params.Year }}"
			data-booktitle-field="{{ .Params.Booktitle }}">
				[BibTex]
			</a>
		{{ end }}
	</b>
	<br />

	{{ if .Params.Summary_details }}
		{{ index .Params.Summary_details 0 }} 
	{{ end }}
	<b>({{ .Params.Conference }} {{ .Params.Year }})</b>
	<br/>

	{{ if .Params.Summary_details }}
		[<a href="{{ index .Params.Summary_details 1 }}">
			{{ .Params.Conference }} {{ .Params.Year }}
		</a>]
	{{ end }}

	<div style="margin-bottom: 20px;"></div>
</li>